@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: auto;
    flex-direction: column;
    padding: 0 15px;
  }

  h2 {
    padding: 0 15px;
  }

  p {
    padding: 0 15px;
    line-height: 1.45;
  }

  .container h2,
  p {
    padding: 0 0;
  }
}

.top_banner {
  padding: 25px 0;
  background: #f1f1f1;
}

/* *******이거 엄청 중요함******
.container에 전부 다 flex해버리면 top_banner의 형태가 망가진다.
그러므로 top_banner .container에만 block을 준다!!
다른 container들도 형태를 보니 flex를 다쓰는게 좋아보였다. */
.top_banner .container {
  display: block;
}

.top_banner h2 {
  /* 이처럼 폰트를 한줄에만 적용시킬수 있다. */
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
  margin: 0 0 10px 0;
}

.top_banner p {
  font-size: 15px;
  font-weight: 300;
}

.top_banner a {
  padding: 2px 15px 4px 15px;
  border: 1px solid #333;
  margin: 0 0 0 20px;
}

.top_banner i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #333;
  /* border-radius: 50%; */
  color: #f1f1f1;
  cursor: pointer;
}

/* 반응형~~~~~~~~~~~









ㄴ*/
@media (max-width: 768px) {
  .top_banner {
    position: absolute;
    top: 300px;
    left: 15px;
    right: 15px;
    padding: 25px 15px;
    z-index: 1000;
  }
  .top_banner h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
  }

  .top_banner p {
    font-size: 13px;
    line-height: 1.56;
    margin: 20px 0 0 0;
  }

  .top_banner a {
    padding: 0px 15px 4px 15px;
    border: 1px solid #333;
    margin: 20px 0 0 0;
    display: block;
    width: 100px;
  }
}

.header .gnb {
  /* padding이나 margin으로 간격 벌리면 귀찮아 진다. 왜...? */
  line-height: 100px;
}

/*  justify-content: space-between;
} 이거 꼭 검색해서 공부하기. width에 맞게 딱 넓어졌다. */
.header .gnb nav {
  margin: 0 0 0 auto;
}

.header .gnb form {
  margin: 0 0 0 50px;
}
.header .mbtn {
  display: none;
}

@media (max-width: 768px) {
  .header h1 {
    padding: 0 15px;
  }

  .header .mbtn {
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
    line-height: 1;
    background: #ddd;
    border-radius: 5px;
    z-index: 1000;
  }
}

nav > ul {
  display: flex;
  /* gap은 인터넷익스플로어에서 안먹힌다. */
}

nav > ul > li {
}

/* li~li 하면 제일 처음 꺼에 적용이 안된다. 이거 신기하네 */
nav > ul > li ~ li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #ddd;
  margin: 0 20px;
}

/* #은 id를 불러올때 쓰는것 */
#searchForm input[type="text"] {
  border: none;
  border-bottom: 1px solid #ddd;
  /* 검색창에서 글자 입력할때 테두리 없어진다. outline: none; */
  outline: none;
  padding: 5px 0;
}

#searchForm button {
  border: none;
  outline: none;
  background: transparent;
  /* icon 아이콘도 font-size로 키운다 저번에도 배웠지만 까먹기 쉽다. 기억하자. */
  font-size: 30px;
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 90px);
    height: 100vh;
    background: #fff;
    border-right: 1px solid #333;
    z-index: 1000;
    transition: 0.5s;
  }

  nav.on {
    left: 0;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 100px 30px;
  }

  nav > ul > li {
    border-bottom: 1px solid #ddd;
  }

  nav > ul > li > a {
    display: block;
  }

  nav > ul > li ~ li::before {
    display: none;
  }

  #searchForm {
    display: none;
  }
}

.main_visual {
  position: relative;
}

.main_visual figure {
  position: relative;
  height: 600px;
}

.main_visual .itm01 {
  background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}
.main_visual .itm02 {
  background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}
.main_visual .itm03 {
  background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.main_visual figure h3 {
  font-size: 60px;
  font-weight: 900;
  margin: 0 0 20px 0;
  text-shadow: 0 0 2px #000;
}

.main_visual figure.itm02 h3 {
  color: #333;
  text-shadow: 0 0 2px #fff;
}

.main_visual figure p {
  font-size: 13px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.main_visual figure.itm02 p {
  color: #333;
}

.main_visual figure a {
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  border: 1px solid #fff;
  background: #333;
  padding: 5px 20px 8px 20px;
}

.main_visual figure h3 {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual figure.on h3 {
  transform: translateY(0);
  transition: 0.5s;
  opacity: 1;
}

.main_visual figure p {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual figure.on p {
  transform: translateY(0);
  transition: 0.5s 0.5s;
  opacity: 1;
}
.main_visual figure a {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual figure.on a {
  transform: translateY(0);
  transition: 0.5s 1s;
  opacity: 1;
}

.main_visual .slick-dots {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex;
  난 왜 적용이 되는거지...? */
}

.main_visual .slick-dots li {
  display: inline-block;
  width: 80px;
  height: 5px;
  background: #333;
  margin: 0 5px;
}

.main_visual .slick-dots li::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #f00;
}

.main_visual .slick-dots li.slick-active::after {
  width: 100%;
  transition: 3s;
}

.main_visual .slick-dots button {
  display: none;
}

@media (max-width: 768px) {
  .main_visual {
    position: relative;
  }

  .main_visual figure {
    position: relative;
    height: calc(100vh-100px);
  }

  .main_visual .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat left center/cover;
  }
  .main_visual .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat right center/cover;
  }
  .main_visual .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat right center/cover;
  }

  .main_visual .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translate(0, -50%);
    color: #fff;
  }

  .main_visual figure h3 {
    /* 글자크키가 viewport크기에 따라 줄바꿈 안되고 같이 작아지게 하는게 vw다. */
    font-size: 5.5vw;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-shadow: 0 0 2px #000;
  }

  .main_visual figure.itm02 h3 {
    color: #fff;
    text-shadow: 0 0 2px #333;
  }

  .main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0 0;
  }

  .main_visual figure.itm02 p {
    color: #fff;
  }

  .main_visual figure a {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #fff;
    background: #333;
    padding: 5px 20px 8px 20px;
  }

  .main_visual figure h3 {
    transform: translateY(100px);
    opacity: 0;
  }

  .main_visual figure.on h3 {
    transform: translateY(0);
    transition: 0.5s;
    opacity: 1;
  }

  .main_visual figure p {
    transform: translateY(100px);
    opacity: 0;
  }

  .main_visual figure.on p {
    transform: translateY(0);
    transition: 0.5s 0.5s;
    opacity: 1;
  }
  .main_visual figure a {
    transform: translateY(100px);
    opacity: 0;
  }

  .main_visual figure.on a {
    transform: translateY(0);
    transition: 0.5s 1s;
    opacity: 1;
  }

  .main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex;
  난 왜 적용이 되는거지...? */
  }

  .main_visual .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #333;
    margin: 0 2px;
    border-radius: 50%;
    overflow: hidden;
  }
}

/* reset에서 box-sizing: border-box, img width 100%설정함 */
.basic {
  padding: 100px 0;
  text-align: center;
}

.basic .container {
  gap: 30px;
}

/* 원래 .inbox의 h2로 잡았지만 .fixed의 h2도 설정하기 위해서 section h2로 바꿨다. */
section h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

section p {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.basic figure {
  flex: 1;
  overflow: hidden;
}

.basic figure .inbox {
  overflow: hidden;
  /* FANCY-BORDER-RADIUS 검색해서 씀 */
  border-radius: 49% 51% 49% 51% / 84% 88% 12% 16%;
  transition: 0.5s 0.2s;
  margin: 0 0 30px 0;
}

.basic figure:hover .inbox {
  border-radius: 10px;
}

.basic figure img {
  transition: 0.5s;
}

.basic figure:hover img {
  transform: scale(1.5);
}

.basic figure strong {
  display: block;
  margin: 0 0 20px 0;
}

.basic figure a {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 5px 20px 10px 20px;
}

.fixed_bg {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/mainvisual03.jpg) no-repeat fixed center center/cover;
  filter: grayscale(0.75);
  /* background-attachment: fixed; background에 그냥 fixed 넣어도 됨 */
}

.fixed_bg i {
  padding: 10px;
  background: #333;
  margin: 5px 0 0 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.fixed_bg span {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .fixed_bg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual03.jpg) no-repeat scroll center
      center/cover;
    filter: grayscale(0.75);
    /* background-attachment: fixed; background에 그냥 fixed 넣어도 됨 */
  }

  .fixed_bg i {
    padding: 10px;
    background: #333;
    margin: 5px 0 0 20px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .fixed_bg span {
    vertical-align: middle;
  }
}

.movie {
  padding: 100px 0;
}

.movie .container {
  gap: 50px;
}
.movie .container figure {
  flex: 1;
}

.movie .container .dec {
  flex: 1;
  padding: 100px 0;
}

.movie video {
  max-width: 100%;
}

.movie .dec i {
  padding: 10px;
  background: #333;
  color: #fff;
  margin: 0 5px 0 0;
}

@media (max-width: 768px) {
  .movie {
    position: relative;
    padding: 200px 0 100px 0;
  }

  .movie .dec {
    position: absolute;
    top: -250px;
    text-align: center;
  }
}

.utube {
  padding: 150px 0;
  text-align: center;
  color: #fff;
  filter: grayscale(1);
}

.utube i {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  font-size: 25px;
  cursor: pointer;
}

.product_list {
  position: relative;
  padding: 100px 0;
  text-align: center;
}

.product_list .product_slider {
  /* slider의 figure에 padding 15px씩 줘서 width를 1230으로 늘렸다. */
  width: 1200px;
  margin: 0 auto;
}
.product_list .product_slider figure {
  padding: 50px 15px;
}

.product_list i {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate 왜하는건지 알아보기 */
  transform: translate(-50%, -50%);
  background: #333;
  padding: 15px;
  color: #fff;
  font-size: 40px;
}

.product_list i.s_left {
  margin: 0 0 0 -650px;
}
.product_list i.s_right {
  margin: 0 0 0 650px;
}

.product_list .slick-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px 0 0 0;
}

.product_list .slick-dots li {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
}

.product_list .slick-dots li.slick-active {
  background: #f00;
}

.product_list .slick-dots button {
  display: none;
}

/* strong 테그와 그림의 사이를 벌리고 싶은데 strong에
margin padding 이 안먹으니 그림에 margin을 줘서 띄움. */
.product_list .box {
  margin: 0 0 20px 0;
}

.product_list figure img {
  transition: 0.5s;
}
/* 이미지 커질때 아래로 내려가는법. */
.product_list figure.slick-center img {
  transform: scale(1.25);
}

.product_list small {
  position: relative;
  display: inline-block;
  border-top: 30px solid #f00;
  border-right: 30px solid #3232ff;
  border-bottom: 30px solid #3232ff;
  border-left: 30px solid #f00;
  border-radius: 100% 100% 100% 0% / 100% 100% 100% 0%;
  width: 0;
  height: 0;
}

.product_list span {
  position: absolute;
  background: linear-gradient(to right, #fff 70%, #333 30%);
  color: transparent;
  -webkit-background-clip: text;
  margin: 0 0 0 -9px;
}

@media (max-width: 768px) {
  .product_list .product_slider {
    width: auto;
  }
  .product_list .product_slider figure {
    padding: 0 15px;
  }

  .product_list i {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate 왜하는건지 알아보기 */
    transform: translate(0, -50%);
    background: #333;
    padding: 15px;
    color: #fff;
    font-size: 40px;
  }

  .product_list i.s_left {
    margin: 0 0 0 0;
    left: 15px;
  }
  .product_list i.s_right {
    margin: 0 0 0 0;
    left: auto;
    right: 15px;
  }

  .product_list .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 0 0;
  }

  .product_list .slick-dots li {
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
  }

  .product_list .slick-dots li.slick-active {
    background: #f00;
  }

  .product_list .slick-dots button {
    display: none;
  }

  /* strong 테그와 그림의 사이를 벌리고 싶은데 strong에
margin padding 이 안먹으니 그림에 margin을 줘서 띄움. */
  .product_list .box {
    margin: 0 0 20px 0;
  }

  .product_list figure img {
    transition: 0.5s;
  }
  .product_list figure.slick-center img {
    transform: scale(1.25);
  }

  .product_list small {
    position: relative;
    display: none;
    border-top: 30px solid #f00;
    border-right: 30px solid #3232ff;
    border-bottom: 30px solid #3232ff;
    border-left: 30px solid #f00;
    border-radius: 100% 100% 100% 0% / 100% 100% 100% 0%;
    width: 0;
    height: 0;
  }

  .product_list span {
    position: absolute;
    background: linear-gradient(to right, #fff 70%, #333 30%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0 0 0 -9px;
  }
}

.tab {
  padding: 100px 0;
  background: #f7f7f7;
}

.tab .tab_wrap {
  flex: 1;
}

.tab .container {
  gap: 40px;
}

.tab_link {
  display: flex;
  border: 1px solid #ddd;
}

.tab_link > li {
  cursor: pointer;
  flex: 1;
  background: #333;
  color: #fff;
  padding: 10px 15px;
}

.tab_link > li.on {
  background: #f00;
}

.tab_link > li ~ li {
  border-left: 1px solid #ddd;
}

.tab figure {
  flex: 1;
}

.tab_content > li {
  display: none;
}

.tab_content > li.on {
  display: block;
}

.tab_content > li dd a {
  /* flex를 안주면 왜 안되는걸까? */
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  border-bottom: 1px solid #ddd;
}

/* white-space: nowraps로 한줄에 다 나오게 하고
text-overflow: ellipsis로 ... 되게함
여기서 width를 안주면 계속 늘어난다.
또한 overflow: hidden을 해야 안보여서 ....이 된다. */
.tab_content > li dd strong {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer {
  background: #333;
  padding: 0 0 50px 0;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}

/* hr은 상우하좌 4개에 다 1px씩 border가 되어있다.
hr을 얇게할려면 border-top만 1px주고 색깔은 fff보단 333을 줬으니 약간 밝은666을 주면 더 얇아보인다. */
.footer hr {
  border: none;
  border-top: 1px solid #666;
  margin: 0;
}

.footer .container {
  justify-content: space-between;
  line-height: 60px;
}

.footer .footer_top ul {
  display: flex;
}

.footer .footer_top ul li ~ li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #ddd;
  margin: 0 15px;
  vertical-align: middle;
}

.footer .footer_top .sns {
  /* inline-block자체에 margin이 있어서 완전 붙일려면
  부모테그의 font-size를 0으로 두면 된다. */
  font-size: 0;
}

.footer .footer_top i {
  padding: 10px;
  background: #111;
  font-size: 21px;
  /* vertical-align:  middle은 왜 하는걸까?  */
  vertical-align: middle;
  margin: auto 2px;
}

.footer #link {
  background: #111;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 15px;
  outline: none;
}

@media (max-width: 768px) {
  .footer .container {
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;
    padding: 30px 15px;
  }

  .footer .footer_top ul {
    display: block;
    text-align: center;
    padding: 0 0 20px 0;
  }

  .footer .footer_top ul li {
    display: inline-block;
    padding: 0 15px;
  }

  .footer .footer_top ul li ~ li::before {
    display: none;
  }

  .footer .left {
    margin: 0 0 20px 0;
  }
}

/* 그림 일자로 주는 옛날방법 */
/* .dtainer {
  width: 1230px;
  margin: 0 auto;
}

.dtainer::after {
  content: "";
  display: block;
  clear: both;
}

.dtainer figure {
  float: left;
  width: 33.333333%;
  padding: 0 15px;
}

.dtainer figure img {
  max-width: 100%;
} */
